@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  margin: 0;
  padding: 0;
}

* {
  font-family: "kanit", sans-serif;
}
